.env
/backend/vendor/
composer.phar

/backend/.env

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/backend/logs/
/backend/tmp/

# Generated at build time by Vercel
/frontend/public/env-config.js